@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@500&display=swap');
.container{
  padding-top: 30px;
  padding-right: 100px;
  padding-left: 100px;

}
.box-head{
  display: flex;
  align-items:center;
}
.heading-txt{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  color: #013243;
  padding-left: 10px;

}
table {
  width: 100%;
}
.table-style{
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 10px;
}
.mat-cell {
  padding: 8px 8px 8px 0;
}
.mat-header-cell{
  font-size: 15px;
  font-weight: bold;
}
.center, .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-div{
  margin: 10px;
}
.search-form-field{
  width: 40%;
  margin-left: 60px;
  padding-top: 10px;
  background: none;
  border-radius: 5px;
  padding-bottom: -60px;
}
.search-form-field div.mat-form-field-underline {
  display: none;
}
.search-form-field div.mat-form-field-infix{
  border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper{
  padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button{
  height: 32px;
  width: 32px;
}
