<div class="container-fluid" >
  <br>
  <div class="box-head">
    <img src="./assets/images/locom6.png" alt="" style="height: 70px; width: 70px;">
    <span class="heading-txt">ADD LOCOMOTIVES</span>
  </div>
  <hr>
  <br>

  <div class="example-container">
    <form  [formGroup]="viewLocoGroup" >
      <mat-card>

        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
        <br>
        <hr>
      </mat-card>
    </form>
    <br>
    <div class="example-container">
    <table class="comp-tbl">
      <caption class="caption-txt">Fluid level</caption>
      <tr class="comp-tr" height="10px" >
        <th class="comp-td" >Component</th>
        <th class="comp-td">Level</th>
      </tr>
      <tr class="comp-tr" height="10px">
        <td class="comp-td">Oil Level</td>
        <td class="comp-td"></td>
      </tr>
      <tr class="comp-tr" height="10px">
        <td class="comp-td">Fuel Level</td>
        <td class="comp-td"></td>
      </tr>
      <tr class="comp-tr" height="10px">
        <td class="comp-td">Oil Water</td>
        <td class="comp-td"></td>
      </tr>
    </table>
    <table class="comp-tbl">
      <caption class="caption-txt">Fluid level</caption>
      <tr class="comp-tr" height="10px" >
        <th class="comp-td" >Component</th>
        <th class="comp-td">Level</th>
      </tr>
      <tr class="comp-tr" height="10px">
        <td class="comp-td">Oil Level</td>
        <td class="comp-td"></td>
      </tr>
      <tr class="comp-tr" height="10px">
        <td class="comp-td">Fuel Level</td>
        <td class="comp-td"></td>
      </tr>
      <tr class="comp-tr" height="10px">
        <td class="comp-td">Oil Water</td>
        <td class="comp-td"></td>
      </tr>
    </table>
    </div>

  </div>
</div>
