@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@500&display=swap');
.comp-tbl {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;


}
.comp-td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 20px;
}

.comp-tr:nth-child(even) {
  background-color: #dddddd;
}
.caption-txt{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #34495e;
  font-weight: bold;
}
.header{
  display: inline-block;
}
.heading-txt{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #013243;
  padding-left: 10px;
  font-weight: bold;

}
.box-head{
  display: flex;
  align-items:center;
}
