

<h1 mat-dialog-title  class="heading-txt">VIEW</h1>

<div mat-dialog-content>
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs "animationDuration="0ms">
    <mat-tab label="First" >
      <br>
      <table class="comp-tbl">
        <caption class="caption-txt">Fluid level</caption>
        <tr class="comp-tr" height="10px" >
          <th class="comp-td" >Component</th>
          <th class="comp-td">Level</th>
        </tr>
        <tr class="comp-tr" height="10px">
          <td class="comp-td">Oil Level</td>
          <td class="comp-td">{{data.ViewLocoOil}}</td>
        </tr>
        <tr class="comp-tr" height="10px">
          <td class="comp-td">Fuel Level</td>
          <td class="comp-td">{{data.ViewLocoFuel}}</td>
        </tr>
        <tr class="comp-tr" height="10px">
          <td class="comp-td">Oil Water</td>
          <td class="comp-td">{{data.ViewLocoWater}}</td>
        </tr>
      </table>
      <br>
      <table class="comp-tbl">
        <caption class="caption-txt">Breaks</caption>
        <tr class="comp-tr" height="10px">
          <th class="comp-td" height="10px">Component</th>
          <th class="comp-td">Status</th>
        </tr>
        <tr class="comp-tr" height="10px">
          <td class="comp-td">Vacuum Break</td>
          <td class="comp-td">{{data.ViewLocoVBreak}}</td>
        </tr>
        <tr class="comp-tr"height="10px">
          <td class="comp-td">Dynami Breaks</td>
          <td class="comp-td">{{data.ViewLocoDBreak}}</td>
        </tr>
      </table>
    </mat-tab>
    <mat-tab label="Second">
      <br>
      <table class="comp-tbl">
        <caption class="caption-txt">Motors</caption>
        <tr class="comp-tr" height="10px">
          <th class="comp-td" height="10px">Component</th>
          <th class="comp-td">Status</th>
        </tr>
        <tr class="comp-tr" height="10px">
          <td class="comp-td">Main Generators</td>
          <td class="comp-td">{{data.ViewLocoMainGen}}</td>
        </tr>
        <tr class="comp-tr"height="10px">
          <td class="comp-td">Traction Motors</td>
          <td class="comp-td">{{data.ViewLocoTrack}}</td>
        </tr>
      </table>
      <br>
      <h2 class="caption-txt">Special Notes</h2>

      <mat-form-field style="width: 300px; padding: 8px;">
        <mat-label>Special Notes</mat-label>
        <textarea matInput >{{data.ViewLocoNote}}</textarea>
      </mat-form-field>

    </mat-tab>

  </mat-tab-group>

</div>
