 mat-sidenav{
  height: 750px;
  width: 100%;
}
mat-sidenav{
  width: 240px;

}

 mat-sidenav-content {
  width: 100% !important;


}
app-user-header{
  display: contents;
  position: sticky;
}
mat-sidenav-container{
  width: 100%;
  height: 100%;
  position: absolute;
}
.hed{
  position: relative;
  width: 100%;
}
