
<mat-nav-list class="s">
  <img class="image" src="./assets/logo/1618837407350.png">

  <hr>
  <a  mat-list-item routerLink="/userDashboard/userProfile"  (click) = "onSidenavClose()" >
   <span><img src="https://img.icons8.com/material/24/000000/admin-settings-male.png"/></span><span class="nav-caption">&nbsp;&nbsp;Profile</span>
  </a>

  <a mat-list-item routerLink="/userDashboard/userViewLocomotives" (click) = "onSidenavClose()" >
   <span><img src="https://img.icons8.com/material/24/000000/subway.png"/></span><span class="nav-caption">&nbsp;&nbsp;View Locomotives</span>
  </a>
 <mat-list-item [matMenuTriggerFor] = "menu">
    <mat-icon>unfold_more</mat-icon>
    <a mat-line>Schedules</a>
  </mat-list-item>
  <mat-menu #menu = "matMenu" class="r">
    <button mat-menu-item (click)="onSidenavClose()" routerLink="/userDashboard/createSchedule">Add Schedule</button>
    <button mat-menu-item (click)="onSidenavClose()" routerLink="/userDashboard/viewSchedules">View All Schedules</button>
  </mat-menu>
  <mat-list-item [matMenuTriggerFor] = "menu">
    <mat-icon>unfold_more</mat-icon>
    <a mat-line>Scehdules</a>
  </mat-list-item>
  <mat-menu #menu = "matMenu">
    <button mat-menu-item (click)="onSidenavClose()">View All Schedules</button>
    <button mat-menu-item (click)="onSidenavClose()">Add Schedules</button>
  </mat-menu>
</mat-nav-list>
