<h1 mat-dialog-title>Progress Report</h1>
<div mat-dialog-content>

  <div class="example-container">
      <form [formGroup]="ReportGroup" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label class="Schedule Number">Schedule Number</mat-label>
          <input required  maxlength="4" minlength="3" matInput placeholder="Schedule Number" #searchInput formControlName="scheduleNo" >
          <div *ngIf="ReportGroup.controls['scheduleNo'].invalid && (ReportGroup.controls['scheduleNo'].dirty || ReportGroup.controls['scheduleNo'].touched)"   class="error">
            <div *ngIf="ReportGroup.controls['scheduleNo'].errors.required">
              Number is Required.
            </div>
            <div *ngIf="ReportGroup.controls['scheduleNo'].errors.pattern">
              Enter only numbers
            </div>
          </div>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label class="Report Number">Progress Report Number</mat-label>
          <input required  maxlength="3" minlength="1" matInput placeholder="Report Number" #searchInput formControlName="progressReportNumber" >
          <div *ngIf="ReportGroup.controls['progressReportNumber'].invalid && (ReportGroup.controls['progressReportNumber'].dirty || ReportGroup.controls['progressReportNumber'].touched)"   class="error">
            <div *ngIf="ReportGroup.controls['progressReportNumber'].errors.required">
              Required.
            </div>
          </div>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label class="Locomotive Category">Locomotive Category</mat-label>
          <input required  maxlength="3" minlength="1" matInput placeholder="Locomotive Category" #searchInput formControlName="locoCatId" >
          <div *ngIf="ReportGroup.controls['locoCatId'].invalid && (ReportGroup.controls['locoCatId'].dirty || ReportGroup.controls['locoCatId'].touched)"   class="error">
            <div *ngIf="ReportGroup.controls['locoCatId'].errors.required">
              Number is Required.
            </div>
            <div *ngIf="ReportGroup.controls['locoCatId'].errors.pattern">
              Enter only numbers
            </div>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label class="Locomotive Number">Locomotive Number</mat-label>
          <input required  maxlength="3" minlength="1" matInput placeholder="Locomotive Number" #searchInput formControlName="locoNumber" >
          <div *ngIf="ReportGroup.controls['locoNumber'].invalid && (ReportGroup.controls['locoNumber'].dirty || ReportGroup.controls['locoNumber'].touched)"   class="error">
            <div *ngIf="ReportGroup.controls['locoNumber'].errors.required">
              Number is Required.
            </div>
            <div *ngIf="ReportGroup.controls['locoNumber'].errors.pattern">
              Enter only numbers
            </div>
          </div>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Supervisor NIC</mat-label>
          <input required  maxlength="10" minlength="1" matInput placeholder="supervisor Nic" #searchInput formControlName="supervisorNic" >
          <div *ngIf="ReportGroup.controls['supervisorNic'].invalid && (ReportGroup.controls['supervisorNic'].dirty || ReportGroup.controls['supervisorNic'].touched)"   class="error">
            <div *ngIf="ReportGroup.controls['supervisorNic'].errors.required">
              Number is Required.
            </div>
            <div *ngIf="ReportGroup.controls['supervisorNic'].errors.pattern">
              Enter only numbers
            </div>
          </div>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Supervisor Name</mat-label>
          <input required  maxlength="20" minlength="1" matInput placeholder="Supervisor Name" #searchInput formControlName="supervisorNic" >
          <div *ngIf="ReportGroup.controls['supervisorName'].invalid && (ReportGroup.controls['supervisorName'].dirty || ReportGroup.controls['supervisorName'].touched)"   class="error">
            <div *ngIf="ReportGroup.controls['supervisorName'].errors.required">
              Number is Required.
            </div>
            <div *ngIf="ReportGroup.controls['supervisorName'].errors.pattern">
              Enter only numbers
            </div>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Manager Name</mat-label>
          <input readonly required  maxlength="10" minlength="1" matInput placeholder="Manager Name" #searchInput formControlName="managerName" >
          <div *ngIf="ReportGroup.controls['managerName'].invalid && (ReportGroup.controls['managerName'].dirty || ReportGroup.controls['managerName'].touched)"   class="error">
            <div *ngIf="ReportGroup.controls['supervisorNic'].errors.required">
              Name is Required.
            </div>
            <div *ngIf="ReportGroup.controls['managerName'].errors.pattern">
              Enter only numbers
            </div>
          </div>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Manager Email</mat-label>
          <input required  maxlength="10" minlength="1" matInput placeholder="Manager Email" #searchInput formControlName="managerEmail" >
          <div *ngIf="ReportGroup.controls['managerEmail'].invalid && (ReportGroup.controls['managerEmail'].dirty || ReportGroup.controls['managerEmail'].touched)"   class="error">
            <div *ngIf="ReportGroup.controls['managerEmail'].errors.required">
              Number is Required.
            </div>
            <div *ngIf="ReportGroup.controls['managerEmail'].errors.pattern">
              Enter only numbers
            </div>
          </div>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Progress Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="progressDate">

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <div *ngIf="ReportGroup.controls['progressDate'].invalid && (ReportGroup.controls['progressDate'].dirty || ReportGroup.controls['progressDate'].touched)"   class="error">
            <div *ngIf="ReportGroup.controls['progressDate'].errors.required">
              Date is Required.
            </div>
          </div>
        </mat-form-field>
        <br>
        <div *ngFor="let data of Data; let i=index">
          <label>
            <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
            {{data.name}}
          </label>
        </div>
        <br>
        <button mat-raised-button color="primary" type="submit">Primary</button>

      </form>
  </div>


</div>
