@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@500&display=swap');
.container{
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;


}
.box-head{
  display: flex;
  align-items:center;
}
.heading-txt{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  color: #013243;
  padding-left: 10px;

}

.example-card {
  width: 300px;
  height: 100px;
  right: -40px;


}
.card-heading{
  color: white;
  font-size: 15px;
  padding-bottom: -200px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.card-bottom{
  width: 290px;
  height: 30px;
  position: absolute;
  border-radius: 3px;
  right: 0;
  left: 0%;
  margin: auto;
  border-width: 10px;
  border-color: #2e3131;
  -webkit-box-shadow: 5px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0 2px 12px rgba(0,0,0,.4);

}
.card-content{
  color: white;
  font-size: 15px;

}
.card-num{
  font-size: 20px;
  font-weight: bold;
}
.box-card{
  display: flex;
  align-items:center;
}
.material-icons{
  font-size: 50px;
  opacity: 35%;
  color: white;
}
.link-page{
  outline: none;
  cursor: pointer;
  font-size: 12px;
  color:#e8ecf1;
  text-decoration:none;
}
a {
  transition: background-color .5s;
}

a:hover {
  color: #9a12b3;
}
