 a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
 a:hover, a:active{
  color: black;
}
.nav-caption{
  display: inline-block;
  padding-left: 6px;
}
.heading-txt{
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
