@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@500&display=swap');
.container{
  padding-top: 30px;

  position: absolute;

}
.box-head{
  display: flex;
  align-items:center;
}
.heading-txt{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  color: #013243;
  padding-left: 10px;

}
