@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@500&display=swap');
.container{
  padding-top: 30px;
  padding-right: 100px;
  padding-left: 100px;

}
.box-head{
  display: flex;
  align-items:center;
}
.heading-txt{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  color: #013243;
  padding-left: 10px;

}
.controls-container{
  width: 90%;
  padding: 5%;
  height: 60%;


}
.controls-container > *{
  width: 90%;
}
.add-bottom-padding{
  padding-top: 18px;
  padding-bottom: 18px;
}
mat-radio-group mat-radio-button{
  margin-top: 5px;
  margin-left: 5px;
}
.button-row button{
  margin: 5px;
  left: 0%;
  bottom: 10px;
}
.sub-headers{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #34495e;
  font-weight: bold;
}
.para-txt{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #3a539b;
}
.controls-container-right{
  width: 90%;
  padding: 5%;
  height: 60%;
  margin-top: 90px;

}
.controls-container-right >*{
  width: 90%;
}
.controls-container > *{
  width: 90%;
}
.controls-container-right-second{
  width: 100%;
  padding: 5%;
  height: 60%;
  margin-top: 30px;
  padding-left: 20%;

}
.controls-container-right-second >*{
  width: 90%;
}
.add-bottom-padding-second{
  padding-top: 5px;
  padding-bottom: 5px;
}
.controls-container-right-third{
  width: 100%;
  padding: 5%;
  height: 60%;
  margin-top: 30px;

}
.controls-container-right-third >*{
  width: 110%;
}
.card-second{
  width: 80%;
  left: 10%;
  background: #ecf0f1;
}
.clear-btn{
  background: #22a7f0;
}
.card{
  background: #ecf0f1;
}
.btn-three{
  padding-top: 28.5%;
  padding-left: 60%;
}
.btn-second{
  padding-top: 27%;
  padding-left: 60%;
}
.btn-one{
  padding-top: 23.3%;
  padding-left: 60%;
}
.material-icons{
  font-weight: bold;
  font-size: 25px;
}
.prev{
  width: 10px;
  color: #1e8bc3;
}
.error{
  font-size: 10px;
  color: #f64747;
  font-family: Roboto;
}
