@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.container{
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;

}
.box-head{
  display: flex;
  align-items:center;
}
.heading-txt{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  color: #013243;
  padding-left: 10px;

}
.controls-container{
  width: 90%;
  padding: 0%;
  height: 60%;


}
.controls-container > *{
  width: 90%;
}
.add-bottom-padding{
  padding-top: 5px;
  padding-bottom: 1px;
}
mat-radio-group mat-radio-button{
  margin-top: 5px;
  margin-left: 5px;
}
.button-row button{
  margin: 5px;
  left: 0%;

}
.sub-headers{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #34495e;
  font-weight: bold;
}
.para-txt{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #3a539b;
}
.controls-container-right{
  width: 90%;
  padding: 0%;
  height: 60%;
  margin-top: 40px;

}
.controls-container-right >*{
  width: 90%;
}
.controls-container > *{
  width: 90%;
}
.controls-container-right-second{
  width: 100%;
  padding: 0%;
  height: 60%;
  margin-top: 30px;
  padding-left: 20%;

}
.controls-container-right-second >*{
  width: 90%;
}
.add-bottom-padding-second{
  padding-top: 5px;
  padding-bottom: 5px;
}
.controls-container-right-third{
  width: 100%;
  padding: 0%;
  height: 60%;
  margin-top: 30px;

}
.controls-container-right-third >*{
  width: 110%;
}
.card-second{
  padding: 40px;

  background: #ecf0f1;
}
.clear-btn{
  background: #22a7f0;
}
.card{
  background: #ecf0f1;
  width: 100%px;
}
.btn-three{

}
.btn-second{
  bottom: 90%;

}
.btn-one{

}
.material-icons{
  font-weight: bold;
  font-size: 25px;
}
.prev{
  width: 10px;
  color: #1e8bc3;
}
.error{
  font-size: 10px;
  color: #f64747;
  font-family: Roboto;
}
.main-wrap-for-selected-images{
  padding-left: 7px;
  width: 90%;
  height: 100px;
}
.selected-image{
  height: 95%;
  margin: 3px;
  width: 30%;
}
.para-note{
  padding: 40px;
  font-size: 30px;
  border: 2px dashed #95a5a6;
  font-family: 'Lato', sans-serif;
  color: black;
  opacity: 50%;
  font-weight: bolder;
  cursor: pointer;
}
