<mat-card class="card-second">
  <mat-grid-list cols="2" rowHeight="350px" [gutterSize]="'-55px'"  style="bottom: 20px;">
    <mat-grid-tile style="">
      <div class="controls-container">
        <h3 class="sub-headers">Liquid Levels</h3>
        <mat-form-field class="example-full-width">
          <mat-label class="label-txt">Oil Level(L)</mat-label>
          <input #oLvl="ngModel" required maxlength="4" matInput placeholder="Oil Level" #searchInput [(ngModel)]="locoOil">
          <div  *ngIf="oLvl.invalid && (oLvl.dirty || oLvl.touched)"
                class="error">
            <div *ngIf="oLvl.errors.required">
              Oli Level is required.
            </div>
            <div *ngIf="oLvl.errors.maxLength">
              Oil Level must be up to characters long.
            </div>

          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label class="label-txt">Fuel Level(L)</mat-label>
          <input required maxlength="4" required #fLvl="ngModel" matInput placeholder="Fuel Level" #searchInput [(ngModel)]="locoFuel">
          <div  *ngIf="fLvl.invalid && (fLvl.dirty || fLvl.touched)"
                class="error">
            <div *ngIf="fLvl.errors.required">
              Fuel Level is required.
            </div>
            <div *ngIf="fLvl.errors.maxLength">
              Fuel Level must be up to characters long.
            </div>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label class="label-txt">Water Level(L)</mat-label>
          <input required maxlength="4" required #wLvl="ngModel" matInput placeholder="Water Level" #searchInput [(ngModel)]="locoWater">
          <div  *ngIf="wLvl.invalid && (wLvl.dirty || wLvl.touched)"
                class="error">
            <div *ngIf="wLvl.errors.required">
              Water Level is required.
            </div>
            <div *ngIf="wLvl.errors.maxLength">
              Water Level must be up to characters long.
            </div>
          </div>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div  class="controls-container-right" style="bottom: -250px;">
        <h3 class="sub-headers">Motar Parts</h3>
        <div class="add-bottom-padding-second">
          <mat-radio-group aria-label="Gender" [(ngModel)]="locoMainGen">
            <span><p class="para-txt">Main Generators</p> </span>
            <mat-radio-button  *ngFor="let mainMotor of mainMotors" [value] = "mainMotor">{{mainMotor}}</mat-radio-button>
          </mat-radio-group>
        </div>


        <div class="add-bottom-padding-second">
          <mat-radio-group aria-label="Gender" [(ngModel)]="locoTracMot">
            <span> <p class="para-txt">Traction Motors</p></span>
            <mat-radio-button *ngFor="let tMotor of tMotors" [value] = "tMotor">{{tMotor}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <br>
        <br>

        <div class="btn-second">
          <button mat-raised-button  class="prev"  (click)="previousStep()" style="left: 70%; height: 35px;"><span class="material-icons">keyboard_arrow_left</span></button>
          <button mat-raised-button class="prev" (click)="nextStep()" style="left: 72%; height: 35px;"><span class="material-icons">keyboard_arrow_right</span></button>
        </div>
      </div>

    </mat-grid-tile>

  </mat-grid-list>
</mat-card>
