<div class="container" >
  <div class="box-head">
    <img src="./assets/images/m9.png" alt="" style="height: 70px; width: 70px;">
    <span class="heading-txt">VIEW LOCOMOTIVES</span>
  </div>
  <hr>

  <div class="search-div">
    <mat-form-field class="search-form-field">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="table-style">
    <div class="mat-elevation-z8" style="height: 50px">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="Category" style=" width: 40px;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let tempLoco">{{tempLoco.locoCatId}} </td>
        </ng-container>
        <ng-container matColumnDef="Number" style=" width: 40px;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
          <td mat-cell *matCellDef="let tempLoco"> {{tempLoco.locoNumber}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Power">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Power </th>
          <td mat-cell *matCellDef="let tempLoco"> {{tempLoco.locoPower}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Availability">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Availability </th>
          <td mat-cell *matCellDef="let tempLoco"> {{tempLoco.locoAvailability}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Responsible">
          <th mat-header-cell *matHeaderCellDef> Responsible </th>
          <td mat-cell *matCellDef="let tempLoco"> {{tempLoco.customerNic}} </td>
        </ng-container>

        <ng-container matColumnDef="Update Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Update Date </th>
          <td mat-cell *matCellDef="let tempLoco"> {{tempLoco.locoDate.split(' ').slice(0, 4).join(' ')}}</td>
        </ng-container>

        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let tempLoco">
            <button mat-stroked-button color="accent" (click)="view(tempLoco)">View More</button>
            <button mat-icon-button color="warn" (click)="deleteLoco(tempLoco.locoCatId)"><mat-icon>delete_outline</mat-icon></button>
            <button mat-icon-button><mat-icon>launch</mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>


  <div class="container-wrp" *ngIf="isVisible">
    <div class="header">

      <h2>   <img src="./assets/images/train-emoji.png" alt="" style="height: 30px; width: 30px;"> {{selectedLoco.locoCatId}} &nbsp; {{selectedLoco.locoNumber}} </h2>
    </div>
    <div style="padding-left: 20px; padding-right: 20px;">
      <div class="modal-body">
        <br>
        <table class="comp-tbl">
          <caption class="caption-txt">Fluid level</caption>
          <tr class="comp-tr" height="10px" >
            <th class="comp-td" >Component</th>
            <th class="comp-td">Level</th>
          </tr>
          <tr class="comp-tr" height="10px">
            <td class="comp-td">Oil Level</td>
            <td class="comp-td">{{selectedLoco.locoOil}}</td>
          </tr>
          <tr class="comp-tr" height="10px">
            <td class="comp-td">Fuel Level</td>
            <td class="comp-td">{{selectedLoco.locoFuel}}</td>
          </tr>
          <tr class="comp-tr" height="10px">
            <td class="comp-td">Oil Water</td>
            <td class="comp-td">{{selectedLoco.locoWater}}</td>
          </tr>
        </table>

        <table class="comp-tbl">
          <caption class="caption-txt">Breaks</caption>
          <tr class="comp-tr" height="10px">
            <th class="comp-td" height="10px">Component</th>
            <th class="comp-td">Status</th>
          </tr>
          <tr class="comp-tr" height="10px">
            <td class="comp-td">Oil Level</td>
            <td class="comp-td">{{selectedLoco.locoVBreak}}</td>
          </tr>
          <tr class="comp-tr"height="10px">
            <td class="comp-td">Fuel Level</td>
            <td class="comp-td">{{selectedLoco.locoDBreak}}</td>
          </tr>
        </table>
        <table class="comp-tbl">
          <caption class="caption-txt">Motors</caption>
          <tr class="comp-tr" height="10px">
            <th class="comp-td" height="10px">Component</th>
            <th class="comp-td">Status</th>
          </tr>
          <tr class="comp-tr" height="10px">
            <td class="comp-td">Oil Level</td>
            <td class="comp-td">{{selectedLoco.locoMainGen}}</td>
          </tr>
          <tr class="comp-tr"height="10px">
            <td class="comp-td">Fuel Level</td>
            <td class="comp-td">{{selectedLoco.locoTracMot}}</td>
          </tr>
        </table>
        <mat-form-field style="width: 450px; padding: 8px;">
          <mat-label>Special Notes</mat-label>
          <textarea matInput >{{selectedLoco.locoNote}}</textarea>
        </mat-form-field>
        <button style="left: 40%;" mat-raised-button color="primary" (click)="setState()">Close</button>
      </div>
    </div>
  </div>

  <button style="display: none"  type="button" id="btn-pop-up"  mat-stroked-button color="accent" (click)="setState()">
  </button>

</div>
