<body bgcolor="white" style="height: 100%;" >
<div class="bd">

  <div class="body-txt">
    <p><span style="padding-left: 7%; font-size: 70px">Welcome</span> <br> <br>Locomotive Service System <br><br> <span class="login-info">Click here to Sign In  </span> <button mat-raised-button color="primary" routerLink="MainLogin" style="width: 8vw; border-radius: 20px;">Click</button></p>
  </div>
  <div class="container-wrp" *ngIf="slider" [@flyInOut]>

    <p class="txt-welcome">Sign In</p>
    <img src="./assets/images/man.png" class="image-form" style="height: 100px; width: 120px;">
    <div style="padding-left: 20px; padding-right: 20px;">
      <div class="example-container">
        <mat-form-field  style="width: 18vw;">
          <mat-label>Input</mat-label>
          <input matInput required type="email" [(ngModel)]="loginEmail">
        </mat-form-field>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

        <br>
        <mat-form-field style="width: 18vw;">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" required [(ngModel)]="loginPassword">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button color="primary" style="width:5vw" (click)="login()">Login</button>
      </div>
    </div>
  </div>


</div>

<div class="container">
  <div class="services">
    <h1>Our Services</h1>
  </div>
  <div class="row">

    <div class="box">
      <div class="icon">
       <span class="material-icons">train</span>
      </div>
      <h3>Locomotive Status</h3>
      <p class="detail-txt">We provide facility update regular updates of Locomotives by providing facilities to update status, Motor details, fluid details and breaks</p>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-address-card" aria-hidden="true"></i>
      </div>
      <h3>Locomotive Schedules</h3>
      <p class="detail-txt">You able to request different schedules that based on requirements of the Locomotives.    </p>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-wrench" aria-hidden="true"></i>
      </div>
      <h3>Load Trails</h3>
      <p class="detail-txt">This enables supervisors to update Load Trails details after completing locomotives schedules.</p>
    </div>
    <div class="box">
      <div class="icon">
        <i class="fa fa-tasks" aria-hidden="true"></i>
      </div>
      <h3>Real-Time Analysis</h3>
      <p class="detail-txt">We provide visual representations on schedules, locomotive and load trails details with future predictions</p>
    </div>

  </div>
</div>


</body>
