@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&family=Merriweather&family=Ubuntu&display=swap');


.image-form{
  padding-left: 30%;
}
.txt-welcome{
  font-family: 'Varela Round', sans-serif;

  font-weight: bold;
  color: #013243;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;

}


.label-txt{
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}
.container-wrp{
  width: 320px;
  height: 390px;
  position: absolute;


  background-color: #f6f6f6;
  border-radius: 5px;
  top: 10px;
  right: 0;
  left: 70%;
  bottom: 40%;
  margin: auto;
  border-width: 10px;
  border-color: #2e3131;
  -webkit-box-shadow: 5px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);

}
.bd{

  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("./Images/Shared from Lightroom mobile(1).jpg");
  background-color: #2e3131;
  height: 418px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  justify-content: center;
  width: 100%;
  min-height: 60%;
  margin: 0;
  padding: 0;
}
.form-label{
  font-family: Roboto;
  font-weight: bold;
  color:white;
  text-align: center;
  font-size: 25px;
}
.body-txt{
  font-weight: bold;
  padding-left: 10%;
  padding-top: 10%;
  font-size: 40px;
  color: white;
  font-family: 'Varela Round', sans-serif;
}
.login-info{
  font-size: 20px;
  font-weight: normal;
}

.service-txt{
  text-align: center;
  font-size: 30px;
  font-family: 'Jura', sans-serif;
  color: #2e3131;
  font-weight: bold;


}
.card-title{

  font-family: 'Ubuntu', sans-serif;
}
.services{
  color: black;
  margin: 5px auto;
  text-align: center;
}
h1{
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
}
h1:after{
  content: '';
  background: #2e3131;
  display: block;
  width: 180px;
  height: 3px;
  margin: 10px auto;
}
.row{
  width: 1500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

.row .box{

  position: relative;
  width: 270px;
  height: 130px;
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  top: -10%;
  margin: 10px;

}
.icon{
  text-align: center;
  font-size: 15px;
  margin: 10px auto;
  padding: 20px;
  height: 18px;
  width: 18px;
  border: 1px solid black;
  border-radius: 50%;
}
.box{
  box-shadow: 5px 7px 9px -3px rgba(255,255,255,0.5);
  cursor: pointer;
}
.container{
  padding-left: 30px;
}
h3 {
  font-size: 18px;
  font-weight: normal;
  color: black;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
.detail-txt{
  color: #24252a;
  font-weight: normal;
}


.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
