<mat-toolbar style="background-color: #2e3131; position: absolute; opacity: 10 ">
  <img src="./assets/logo/1618836043384.png" alt="" style="width: 95px; height: 95px; margin-top: 40px;">
  <span class="txt-welcome">&nbsp;&nbsp; LOCOMOTIVE SERVICE CENTER</span>
  <span class="example-spacer"></span>

</mat-toolbar>
<div class="container-fluid">
  <section id="home" class="home-bg">
    <div class="hello">
      <h1>
        <span class="title-text">WELCOME TO</span>
        <span class="title-text">LOCOMOTIVE CENTER</span>
      </h1>
      <p class="lead">
        Request your Locomotive services, Real time update the status of the your responsible locomotives faster and easily.
        <br>
        <br>
        <span class="click"> Click here to Sign In</span>

        <br>
        <br>
        <button mat-raised-button class="btn-log" routerLink="MainLogin" >Click</button>
      </p>

    </div>
  </section>
  <a href="#" class="float">
    <i class="fa fa-envelope my-float"></i>
  </a>
  <div class="label-container">
    <div class="label-text">Feedback</div>
    <i class="fa fa-play label-arrow"></i>
  </div>

</div>
