
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&family=Merriweather&family=Ubuntu&display=swap');
.image-form{
  padding-left: 30%;
}
.txt-welcome{
  font-family: 'Varela Round', sans-serif;

  font-weight: bold;
  color: #013243;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;

}
.label-txt{
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}
.container-wrp{
  width: 320px;
  height: 390px;
  position: absolute;


  background-color: #f6f6f6;
  border-radius: 5px;
  top: 10px;
  right: 0;
  left: 70%;
  bottom: 40%;
  margin: auto;
  border-width: 10px;
  border-color: #2e3131;
  -webkit-box-shadow: 5px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);

}
.bd{
  background-image: url("./Images/back1.jpg");

  height: 400px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  justify-content: center;
  width: 100%;
  min-height: 60%;
  margin: 0;
  padding: 0;
}
.form-label{
  font-family: Roboto;
  font-weight: bold;
  color:white;
  text-align: center;
  font-size: 25px;
}
.body-txt{
  font-weight: bold;
  padding-left: 10%;
  padding-top: 10%;
  font-size: 40px;
  color: white;
  font-family: 'Varela Round', sans-serif;
}
.login-info{
  font-size: 20px;
  font-weight: normal;
}
.btn-login{
  background-color: #6bb9f0;
  padding: 4px 40px 4px 40px;
  border: 0px solid #013243;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  margin-right: 15px;
  text-decoration: none;
  border-radius: 5px;
  height: 40px;
}
.btn-login:focus{
  outline: none;
}
.btn-login:hover{
  background-color: #22313f;
  cursor: pointer;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.service-txt{
  text-align: center;
  font-size: 30px;
  font-family: 'Jura', sans-serif;
  color: #2e3131;
  font-weight: bold;


}
.card-title{

  font-family: 'Ubuntu', sans-serif;
}
