<div class="container-fluid" >
  <br>
  <div class="box-head">
    <img src="./assets/images/m11.png" alt="" style="width: 70px; height: 70px">
    <span class="heading-txt">REQUEST SCHEDULE</span>
  </div>
  <hr>

  <div class="example-container">
    <form  [formGroup]="ScheduleGroup" (ngSubmit)="onSubmit()" >
      <mat-tab-group mat-align-tabs="Start" [selectedIndex] ="selectedIndex" animationDuration="0ms">
        <mat-tab>
          <mat-card>
            <ng-template mat-tab-label>
              <img class="material-icons" src="https://img.icons8.com/emoji/48/000000/train-emoji.png" style="width: 40px; height: 40px;"/>

              First
            </ng-template>
            <h3 class="sub-headers">Basic Details</h3>
            <mat-form-field appearance="fill">
              <mat-label class="Schedule Number">Schedule Number</mat-label>
              <input required  maxlength="4" minlength="3" matInput placeholder="Schedule Number" #searchInput formControlName="scheduleNo" >
              <div *ngIf="ScheduleGroup.controls['scheduleNo'].invalid && (ScheduleGroup.controls['scheduleNo'].dirty || ScheduleGroup.controls['scheduleNo'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['scheduleNo'].errors.required">
                  Number is Required.
                </div>
                <div *ngIf="ScheduleGroup.controls['scheduleNo'].errors.pattern">
                  Enter only numbers
                </div>
              </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Report no</mat-label>
              <mat-select formControlName="mReportNumber" required (selectionChange)="onChangeSelectMil($event)">
                <mat-option *ngFor="let temIds of mileageReport"   value="{{temIds.mReportNumber}}">
                  {{temIds.mReportNumber}}
                </mat-option>
              </mat-select>
            </mat-form-field>
              <div *ngIf="ScheduleGroup.controls['mReportNumber'].invalid && (ScheduleGroup.controls['mReportNumber'].dirty || ScheduleGroup.controls['mReportNumber'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['mReportNumber'].errors.required">
                  Required.
                </div>
              </div>

            <mat-form-field appearance="fill">
              <mat-label>Request Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="scheduleDate">

              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <div *ngIf="ScheduleGroup.controls['scheduleDate'].invalid && (ScheduleGroup.controls['scheduleDate'].dirty || ScheduleGroup.controls['scheduleDate'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['scheduleDate'].errors.required">
                  Date is Required.
                </div>
              </div>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>To be Completed Date</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="completedDate">

              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <div *ngIf="ScheduleGroup.controls['completedDate'].invalid && (ScheduleGroup.controls['completedDate'].dirty || ScheduleGroup.controls['completedDate'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['completedDate'].errors.required">
                  Date is Required.
                </div>
              </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Locomotive Category</mat-label>
              <input type="text" required
                     placeholder="Pick one"
                     aria-label="Number"
                     matInput
                     [formControl]="myControl"
                     formControlName="locoCatId"
                     [matAutocomplete]="auto">

              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options " [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label class="Locomotive Number">Locomotive Number</mat-label>
              <input required  maxlength="3" minlength="1" matInput placeholder="Locomotive Number" #searchInput formControlName="locoNumber" >
              <div *ngIf="ScheduleGroup.controls['locoNumber'].invalid && (ScheduleGroup.controls['locoNumber'].dirty || ScheduleGroup.controls['locoNumber'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['locoNumber'].errors.required">
                  Number is Required.
                </div>
                <div *ngIf="ScheduleGroup.controls['locoNumber'].errors.pattern">
                  Enter only numbers
                </div>
              </div>
            </mat-form-field>

            <br>
            <mat-form-field appearance="fill" >
              <mat-label class="label-txt">Locomotive Mileage</mat-label>
              <input    minlength="4"  required  matInput placeholder="Locomotive Mileage" #searchInput formControlName="locoMileage">
              <div *ngIf="ScheduleGroup.controls['locoMileage'].invalid && (ScheduleGroup.controls['locoMileage'].dirty || ScheduleGroup.controls['locoMileage'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['locoMileage'].errors.required">
                  Mileage is Required.
                </div>

              </div>
            </mat-form-field>
            <mat-form-field appearance="fill" >
              <mat-label>Locomotive Stutus</mat-label>
              <mat-select name="food" formControlName="locoStatus">
                <mat-option *ngFor="let status of locoStatus" [value]="status">
                  {{status}}
                </mat-option>
              </mat-select>
              <div *ngIf="ScheduleGroup.controls['locoStatus'].invalid && (ScheduleGroup.controls['locoStatus'].dirty || ScheduleGroup.controls['locoStatus'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['locoStatus'].errors.required">
                  Locomotive Status is Required.
                </div>

              </div>

            </mat-form-field>
            <br>
            <h2>Responsible Persons</h2>
            <mat-form-field appearance="fill">
              <mat-label>Service Manger NIC</mat-label>
              <mat-select formControlName="managerNic" required (selectionChange)="onChangeSelectMan($event)">
                <mat-option *ngFor="let temIds of managerList"   value="{{temIds.userNic}}">
                  {{temIds.userNic}}
                </mat-option>
              </mat-select>
              <div *ngIf="ScheduleGroup.controls['managerNic'].invalid && (ScheduleGroup.controls['managerNic'].dirty || ScheduleGroup.controls['managerNic'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['managerNic'].errors.required">
                  Service manger NIC Required
                </div>
              </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
            <mat-label>Service Manger Email</mat-label>
            <mat-select formControlName="managerEmail" required>
              <mat-option *ngFor="let temIds of managerList"   value="{{temIds.userEmail}}">
                {{temIds.userEmail}}
              </mat-option>
            </mat-select>
              <div *ngIf="ScheduleGroup.controls['managerEmail'].invalid && (ScheduleGroup.controls['managerEmail'].dirty || ScheduleGroup.controls['managerEmail'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['managerEmail'].errors.required">
                Service manger Email Required
                </div>

              </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Service Manger Name</mat-label>
              <mat-select formControlName="managerName" required>
                <mat-option *ngFor="let temIds of managerList"   value="{{temIds.userName}}">
                  {{temIds.userName}}
                </mat-option>
              </mat-select>
              <div *ngIf="ScheduleGroup.controls['managerName'].invalid && (ScheduleGroup.controls['managerName'].dirty || ScheduleGroup.controls['managerName'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['managerName'].errors.required">
                  Service manger Name Required
                </div>

              </div>
            </mat-form-field>

            <br>
            <mat-form-field appearance="fill">
              <mat-label>Supervisor NIC</mat-label>
              <mat-select formControlName="supervisorNic" required (selectionChange)="onChangeSelect($event)" >
                <mat-option *ngFor="let temIds of supervisorList"   value="{{temIds.userNic}}">
                  {{temIds.userNic}}
                </mat-option>
              </mat-select>
              <div *ngIf="ScheduleGroup.controls['supervisorNic'].invalid && (ScheduleGroup.controls['supervisorNic'].dirty || ScheduleGroup.controls['supervisorNic'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['supervisorNic'].errors.required">
                  Supervisor NIC Required
                </div>

              </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Supervisor Email</mat-label>
              <mat-select formControlName="supervisorEmail" required readonly>
                <mat-option *ngFor="let temIds of supervisorList"   value="{{temIds.userEmail}}">
                  {{temIds.userEmail}}
                </mat-option>
              </mat-select>
              <div *ngIf="ScheduleGroup.controls['supervisorEmail'].invalid && (ScheduleGroup.controls['supervisorEmail'].dirty || ScheduleGroup.controls['supervisorEmail'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['supervisorEmail'].errors.required">
                  Supervisor Email Required
                </div>

              </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Supervisor Name</mat-label>
              <mat-select formControlName="supervisorName" required readonly>
                <mat-option *ngFor="let temIds of supervisorList"   value="{{temIds.userName}}">
                  {{temIds.userName}}
                </mat-option>
              </mat-select>
              <div *ngIf="ScheduleGroup.controls['supervisorName'].invalid && (ScheduleGroup.controls['supervisorName'].dirty || ScheduleGroup.controls['supervisorName'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['supervisorName'].errors.required">
                  Supervisor Name Required
                </div>

              </div>
            </mat-form-field>
            <br>

          </mat-card>
        </mat-tab>
        <mat-tab>
          <mat-card>
            <ng-template mat-tab-label>
              <img src="https://img.icons8.com/emoji/64/000000/high-speed-train-emoji.png" style="width: 40px; height: 40px;"/> &nbsp;
              Second
            </ng-template>
            <h2 class="sub-headers">Schedule Details</h2>
            <p>Select the Schedule Type: <mat-checkbox formControlName="mechanical">Mechanical</mat-checkbox> &nbsp; <mat-checkbox formControlName="electrical">Electrical</mat-checkbox></p>
            <h2 class="sub-headers">Mechanical</h2>
            <mat-form-field appearance="fill">
              <mat-label>Main Motors</mat-label>
              <mat-select  multiple formControlName="mainMotorName">
                <mat-option *ngFor="let mainMotors of  mainMotorList" [value]=" mainMotors">{{mainMotors}}</mat-option>
              </mat-select>
              <div *ngIf="ScheduleGroup.controls['mainMotorName'].invalid && (ScheduleGroup.controls['mainMotorName'].dirty || ScheduleGroup.controls['mainMotorName'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['mainMotorName'].errors.required">
                Main Motor Name Required
                </div>
              </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Traction Motors</mat-label>
              <mat-select  multiple formControlName="trackMotorName">
                <mat-option *ngFor="let tMotor of  tMotorsList" [value]=" tMotor">{{tMotor}}</mat-option>
              </mat-select>
              <div *ngIf="ScheduleGroup.controls['trackMotorName'].invalid && (ScheduleGroup.controls['trackMotorName'].dirty || ScheduleGroup.controls['trackMotorName'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['trackMotorName'].errors.required">
                  traction Motor parts Required
                </div>
              </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Loco Body</mat-label>
              <mat-select  multiple formControlName="locoBodyName">
                <mat-option *ngFor="let bodyLoco of  bodyLocoList" [value]="bodyLoco">{{bodyLoco}}</mat-option>
              </mat-select>
              <div *ngIf="ScheduleGroup.controls['locoBodyName'].invalid && (ScheduleGroup.controls['locoBodyName'].dirty || ScheduleGroup.controls['locoBodyName'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['locoBodyName'].errors.required">
                Body parts Required
                </div>
              </div>
            </mat-form-field>
            <br>
            <h3 class="sub-headers">Other Mechanical Parts</h3>
            <div class="input-Type">
              <mat-form-field appearance="fill">
                <mat-label class="Locomotive Number">Other Items</mat-label>
                <input required  maxlength="20" minlength="1" matInput placeholder="Motor Item" #searchInput formControlName="mOther" >
              </mat-form-field> &nbsp;&nbsp;
              <div class="btn">
                <button style="background-color: #59abe3" mat-raised-button color="primary" (click)="onClickMotor()">Add Item</button>&nbsp;
                <button style="background-color: #59abe3" mat-raised-button color="accent" (click)="onClickremoveField('','main')">Remove All</button>
              </div>
            </div>
            <div class="row" >
              <div class="col-6 col-sm-3" *ngFor="let locoMotors of otherMechArray.controls; let i = index">
                <div class="row" [formGroup]="locoMotors">
                  <p style="padding-left: 15px;">
                    <mat-form-field  appearance="outline" style="width: 180px; height: 5px; font-weight: bolder; color: black; font-size: 15px;">
                      <input matInput placeholder="Fluids" formControlName="Name" readonly>
                    </mat-form-field>
                    <button style="color: red; padding-bottom: 10px;" mat-button  (click)="onClickremoveField(i, 'sub')"><span class="material-icons">delete</span></button>
                  </p>
                </div>
              </div>
              <!-- Force next columns to break to new line -->
              <div class="w-100"></div>
            </div>

          </mat-card>
        </mat-tab>
        <mat-tab>
          <mat-card>
            <ng-template mat-tab-label>
              <img src="https://img.icons8.com/color/48/000000/train-station.png" style="width: 40px; height: 40px; color: #1f3a93"/>
              Third
            </ng-template>
            <h2 class="sub-headers">Electrical Schedule</h2>
            <mat-form-field appearance="fill">
              <mat-label>Electric And Control Unit</mat-label>
              <mat-select  multiple formControlName="electricCUnitName">
                <mat-option *ngFor="let electricController of   electricControlList" [value]="electricController">{{electricController}}</mat-option>
              </mat-select>
              <div *ngIf="ScheduleGroup.controls['electricCUnitName'].invalid && (ScheduleGroup.controls['electricCUnitName'].dirty || ScheduleGroup.controls['electricCUnitName'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['electricCUnitName'].errors.required">
                  Electric Control parts Required
                </div>
              </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Electric Mechanical</mat-label>
              <mat-select  multiple formControlName="eMechanicalName">
                <mat-option *ngFor="let eMechanical of   eMechanicalMaList" [value]="eMechanical">{{eMechanical}}</mat-option>
              </mat-select>
              <div *ngIf="ScheduleGroup.controls['eMechanicalName'].invalid && (ScheduleGroup.controls['eMechanicalName'].dirty || ScheduleGroup.controls['eMechanicalName'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['eMechanicalName'].errors.required">
                  Electric Control parts Required
                </div>
              </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Electric Switches</mat-label>
              <mat-select  multiple formControlName="eSwitchName">
                <mat-option *ngFor="let eSwitch of eSwitchList" [value]="eSwitch">{{eSwitch}}</mat-option>
              </mat-select>
              <div *ngIf="ScheduleGroup.controls['eSwitchName'].invalid && (ScheduleGroup.controls['eSwitchName'].dirty || ScheduleGroup.controls['eSwitchName'].touched)"   class="error">
                <div *ngIf="ScheduleGroup.controls['eSwitchName'].errors.required">
                  Switch parts Required
                </div>
              </div>
            </mat-form-field>
            <br>
            <h3 class="sub-headers">Other Electric Parts</h3>
            <div class="input-Type">
              <mat-form-field appearance="fill">
                <mat-label class="Locomotive Number">Other Items</mat-label>
                <input required  maxlength="20" minlength="1" matInput placeholder="Motor Item" #searchInput formControlName="eOther" >
              </mat-form-field> &nbsp;&nbsp;
              <div class="btn">
                <button style="background-color: #59abe3" mat-raised-button color="primary" (click)="onClickElectric()">Add Item</button>&nbsp;
                <button style="background-color: #59abe3" mat-raised-button color="accent" (click)="onClickremoveFieldElectic('','main')">Remove All</button>
              </div>
            </div>
            <div class="row" >
              <div class="col-6 col-sm-3" *ngFor="let locoElectic of otherElectricArray.controls; let i = index">
                <div class="row" [formGroup]="locoElectic">
                  <p style="padding-left: 15px;">
                    <mat-form-field  appearance="outline" style="width: 180px; height: 5px; font-weight: bolder; color: black; font-size: 15px;">
                      <input matInput placeholder="Fluids" formControlName="Name" readonly>
                    </mat-form-field>
                    <button style="color: red; padding-bottom: 10px;" mat-button  (click)="onClickremoveFieldElectic(i, 'sub')"><span class="material-icons">delete</span></button>
                  </p>
                </div>
              </div>
              <!-- Force next columns to break to new line -->
              <div class="w-100"></div>
            </div>
            <hr>
            <h3 class="sub-headers"matTooltip="Place remarks" [matTooltipPosition]="'left'">Special Remarks</h3>
            <mat-form-field appearance="fill">
              <mat-label>Add Note</mat-label>
              <textarea formControlName="specialNote" required matInput></textarea>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
</div>
