
<mat-nav-list class="s">
  <div>
    <img style="vertical-align:middle; height: 50px; width: 50px; padding-bottom: 10PX" src="./assets/images/man.png">
    <p class="heading-txt">Admin Panel</p>
  </div>

  <hr>
  <a class="p" mat-list-item  (click) = "onSidenavClose()" >
    <mat-icon>Home</mat-icon><span class="nav-caption">Home</span>
  </a>

  <a mat-list-item routerLink="/clerkDashBoard/createUser" (click) = "onSidenavClose()" >
    <mat-icon>account_balance</mat-icon><span class="nav-caption">New User</span>
  </a>
  <a mat-list-item routerLink="/clerkDashBoard/createCustomer" (click) = "onSidenavClose()" >
    <mat-icon>account_balance</mat-icon><span class="nav-caption">New Employee</span>
  </a>
  <a mat-list-item routerLink="/clerkDashBoard/resetPassword" (click) = "onSidenavClose()" >
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Reset Password</span>
  </a>

  <mat-list-item [matMenuTriggerFor] = "menu">
    <mat-icon>unfold_more</mat-icon>
    <a mat-line>Scehdules</a>
  </mat-list-item>
  <mat-menu #menu = "matMenu">
    <button mat-menu-item (click)="onSidenavClose()">View All Schedules</button>
    <button mat-menu-item (click)="onSidenavClose()">Add Schedules</button>
  </mat-menu>
</mat-nav-list>
