
<div class="container">
  <div class="box-head">
    <img src="./assets/images/sup.png" alt="" style="height: 70px; width: 70px;">
    <span class="heading-txt">ADD USERS</span>
  </div>
  <hr>


        <h2>Register Accounts</h2>
        <br>
        <mat-form-field class="controls-container">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="userEmail"
                 placeholder="Ex. pat@example.com">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field >
  <br>
        <mat-form-field class="example-full-width">
          <mat-label class="label-txt">Fuel Level(L)</mat-label>
          <input required maxlength="4" required #fLvl="ngModel" matInput placeholder="Fuel Level" #searchInput [(ngModel)]="userName">
        </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label class="label-txt">Fuel Level(L)</mat-label>
    <input required maxlength="4" required #fLvl="ngModel" matInput placeholder="Fuel Level" #searchInput [(ngModel)]="userWorks">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label class="label-txt">Fuel Level(L)</mat-label>
    <input required maxlength="4" required #fLvl="ngModel" matInput placeholder="Fuel Level" #searchInput [(ngModel)]="userNic">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label class="label-txt">Fuel Level(L)</mat-label>
    <input required maxlength="4" required #fLvl="ngModel" matInput placeholder="Fuel Level" #searchInput [(ngModel)]="userMobile">
  </mat-form-field>
  <br>
        <mat-form-field  class="controls-container">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="userPassword">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <button (click)="signUp()" style="left: 35%; width: 30%; top: 1%;" mat-raised-button color="primary">Register</button>







  <div class="form">


  </div>



</div>



