@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
.container{
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;

}
.box-head{
  display: flex;
  align-items:center;
}
.heading-txt{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  color: #013243;
  padding-left: 10px;

}
mat-grid-tile {
  background: #e8ecf1;
}
.container-input{

}
.example-form {

  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 3%;
  height: 80%;
}

.example-full-width {
  top: 50px;
  width: 100%;
  margin-bottom: 10px;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.btn-reset{
  width: 200px;
}
#formbox {
  width:400px;
  margin:auto 0;
  text-align: center;
}
