
<div class="container">
  <div class="box-head">
    <img src="./assets/images/sup.png" alt="" style="height: 70px; width: 70px;">
    <span class="heading-txt">RESET PASSWORD</span>
  </div>
  <hr>
  <br>
  <br>
  <div class="row" *ngIf="CurrentState=='Wait'">
    <div class="col-md-12  close-form">
      <h2> Please Wait...</h2>
    </div>
  </div>
  <div class="row"
       *ngIf="CurrentState=='NotVerified'">
    <div class="col-md-12">
      <h2> Invalid URL.</h2>
    </div>
  </div>
  <div class="container-input">
    <mat-grid-list cols="1" rowHeight="400px">
      <mat-grid-tile>
        <div class="row">
          <div class="en">
            <div class="en2">

                <div>
                  <div id="errorMsg" *ngIf="errorMessage">
                    <span>{{errorMessage}}</span>
                  </div>
                  <div id="successMsg" *ngIf="successMessage">
                    <span>{{successMessage}}</span>
                  </div>
                  <div class="example-form">
                    <form action="" [formGroup]="ResponseResetForm" (ngSubmit)="ResetPassword(ResponseResetForm)">
                      <mat-form-field class="example-full-width" >
                        <mat-label>Enter your password</mat-label>
                        <input matInput type="password" [type]="hide ? 'password' : 'text'" id="password" formControlName="newPassword" >
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <span *ngIf="!ResponseResetForm.get('newPassword').valid && !IsResetFormValid"
                              class="help-block">Password is required with atleast 4 characters.</span>
                      </mat-form-field>
                      <br>
                      <mat-form-field class="example-full-width" >
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" id="cpassword" type="password"
                               formControlName="confirmPassword">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <span *ngIf="!ResponseResetForm.get('confirmPassword').valid && !IsResetFormValid"
                              class="help-block">. </span>
                        <span
                          *ngIf="ResponseResetForm.get('confirmPassword').valid && (ResponseResetForm.get('confirmPassword').value != ResponseResetForm.get('newPassword').value) && !IsResetFormValid"
                          class="help-block">Confirm Password does not match with password.</span>
                      </mat-form-field>
                      <br>
                      <br>
                      <br>
                      <br>
                      <div id="formbox">
                        <button type="submit" mat-raised-button color="primary" class="btn-reset">Reset</button>
                      </div>
                    </form>


                  </div>
                </div>
            </div>
          </div>
        </div>

      </mat-grid-tile>

    </mat-grid-list>
  </div>

</div>




