<div class="container" >
  <div class="box-head">
    <img src="./assets/images/m104.png" alt="" style="height: 70px; width: 70px;">
    <span class="heading-txt">VIEW LOCOMOTIVES</span>
  </div>
  <hr>

  <div class="search-div">
    <mat-form-field class="search-form-field">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="main-table">
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="Category" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
          <mat-cell *matCellDef="let tempLoco" data-label="Category">{{tempLoco.locoCatId}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Number" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Number </mat-header-cell>
          <mat-cell *matCellDef="let tempLoco" data-label="Number" > {{tempLoco.locoNumber}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Power">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Power </mat-header-cell>
          <mat-cell *matCellDef="let tempLoco" data-label="Power"> {{tempLoco.locoPower}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Mileage">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Mileage </mat-header-cell>
          <mat-cell *matCellDef="let tempLoco" data-label="Mileage"> {{tempLoco.locoMileage}} </mat-cell>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="Availability">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Availability </mat-header-cell>
          <mat-cell *matCellDef="let tempLoco" data-label="Availability"> {{tempLoco.locoAvailability}}</mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Responsible" >
          <mat-header-cell *matHeaderCellDef> Responsible </mat-header-cell>
          <mat-cell *matCellDef="let tempLoco" data-label="Responsible" > {{tempLoco.userNic}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Update Date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Update Date </mat-header-cell>
          <mat-cell *matCellDef="let tempLoco" data-label="Responsible" > {{tempLoco.locoDate | date}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="#">
          <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
          <mat-cell *matCellDef="let tempLoco"data-label="#">
            <button mat-icon-button (click)="openDialog(tempLoco)"><span class="material-icons">visibility</span></button>
            <button mat-icon-button (click)="OpenEditDialog(tempLoco)"><mat-icon>launch</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
    </div>
  </div>




</div>
  <div class="container-wrp-two" *ngIf="isVisibleSecond">
    <div class="header-two">
      <div class="box-container">
        <img src="https://img.icons8.com/bubbles/50/000000/train.png" style="width: 35px; height: 35px;"/> &nbsp;
        <span class="heading-update">UPDATE</span>
        <button style="left: 68%; color: white" mat-icon-button (click)="setStateTwo()"><span style="font-weight: bolder;" class="material-icons">clear</span></button>
      </div>
    </div>
    <div class="modal-body">
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs ">
        <mat-tab label="First">
            <mat-card style="height: 455px;">
              <br>
            <div class="controls-container" style="height: 420px; padding-left: 10%;">
              <mat-form-field>
                <input aria-label="HireDate" matInput [matDatepicker]="picker" placeholder="Update Date" [(ngModel)] = "changeLocoDate">
                <mat-datepicker-toggle matSuffix [for]="picker" style="width: 20%;"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field><div class="add-bottom-padding">
              <mat-radio-group aria-label="Availability" [(ngModel)]="changeLocoAvailability">
                <span class="para-txt">Availability</span>
                <mat-radio-button *ngFor="let status of statuses" [value] = "status">{{status}}</mat-radio-button>
              </mat-radio-group>
            </div>
              <h3 class="sub-headers">Motar Parts</h3>
              <div class="add-bottom-padding">
                <mat-radio-group aria-label="Gender" [(ngModel)]="changeLocoMainGen">
                  <span><p class="para-txt">Main Generators</p> </span>
                  <mat-radio-button  *ngFor="let mainMotor of mainMotors" [value] = "mainMotor">{{mainMotor}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="add-bottom-padding">
                <mat-radio-group aria-label="Gender" [(ngModel)]="changeLocotracMot">
                  <span> <p class="para-txt">Traction Motors</p></span>
                  <mat-radio-button *ngFor="let tMotor of tMotors" [value] = "tMotor">{{tMotor}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <h3 class="sub-headers">Special Notes</h3>
              <mat-form-field>
                <mat-label>Special Note</mat-label>
                <textarea matInput [(ngModel)]="changeLocoNote"></textarea>
              </mat-form-field>
            </div>
            </mat-card>
        </mat-tab>
        <mat-tab label="Second">
          <mat-card style="height: 455px;">
            <div class="controls-container" style="height: 420px; padding-left: 10%;">
              <h3 class="sub-headers">Liquid Levels</h3>
              <mat-form-field class="example-full-width">
                <mat-label class="label-txt">Oil Level(L)</mat-label>
                <input matInput placeholder="Oil Level" #searchInput [(ngModel)]="changeLocoOil">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label class="label-txt">Fuel Level(L)</mat-label>
                <input matInput placeholder="Fuel Level" #searchInput [(ngModel)]="changeLocoFuel">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label class="label-txt">Water Level(L)</mat-label>
                <input matInput placeholder="Water Level" #searchInput [(ngModel)]="changeLocoWater">
              </mat-form-field>
              <h3 class="sub-headers">Breaks</h3>
              <div class="add-bottom-padding">
                <mat-radio-group aria-label="Vacuum Breaks" [(ngModel)]="changeLocoVBreak">
                  <span> <p class="para-txt">Vacuum Breaks</p></span>
                  <mat-radio-button *ngFor="let vBreak of vBreaks" [value] = "vBreak">{{vBreak}}</mat-radio-button>
                </mat-radio-group>
                <mat-radio-group aria-label="Dynamic Breaks" [(ngModel)]="changeLocoDBreak">
                  <span> <p class="para-txt">Dynamic Breaks</p></span>
                  <mat-radio-button *ngFor="let dBreak of dBreaks" [value] = "dBreak">{{dBreak}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="btn-row">
                <button mat-raised-button color="primary" style="width: 100px;" (click)="updateMyLocomotive()">Update</button> &nbsp;
                <button class="cancel-btn" mat-raised-button color="accent" (click) = "setStateTwo()"  style="width: 100px;">Cancel</button>
              </div>
            </div>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>



