<div class="container" >
  <div class="box-head">
    <img src="./assets/images/m104.png" alt="" style="height: 70px; width: 70px;">
    <span class="heading-txt">VIEW LOCOMOTIVES</span>
  </div>
  <hr>

  <div class="search-div">
    <mat-form-field class="search-form-field">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="table-style">
    <div class="mat-elevation-z8" style="height: 50px">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="Category" style=" width: 40px;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let tempLoco">{{tempLoco.locoCatId}} </td>
        </ng-container>
        <ng-container matColumnDef="Number" style=" width: 40px;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
          <td mat-cell *matCellDef="let tempLoco"> {{tempLoco.locoNumber}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Power">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Power </th>
          <td mat-cell *matCellDef="let tempLoco"> {{tempLoco.locoPower}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Availability">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Availability </th>
          <td mat-cell *matCellDef="let tempLoco"> {{tempLoco.locoAvailability}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Responsible" >
          <th mat-header-cell *matHeaderCellDef> Responsible </th>
          <td mat-cell *matCellDef="let tempLoco"> {{tempLoco.customerNic}} </td>
        </ng-container>

        <ng-container matColumnDef="Update Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Update Date </th>
          <td mat-cell *matCellDef="let tempLoco"> {{tempLoco.locoDate | date}}</td>
        </ng-container>

        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let tempLoco">
            <button mat-stroked-button color="accent" (click)="view(tempLoco)">View More</button>
            <button mat-icon-button (click)="updateLocomotive(tempLoco)"><mat-icon>launch</mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  </div>


  <div class="container-wrp" *ngIf="isVisible">
    <div class="header">
      <div class="box-container">
        <img src="https://img.icons8.com/bubbles/50/000000/train.png" style="width: 35px; height: 35px;"/> &nbsp;
        <span class="heading-update">UPDATE</span>
        <button style="left: 68%; color: white" mat-icon-button (click)="setState()"><span style="font-weight: bolder;" class="material-icons">clear</span></button>
      </div>

    </div>
    <div style="padding-left: 20px; padding-right: 20px;">
      <div class="modal-body">
        <br>
        <table class="comp-tbl">
          <caption class="caption-txt">Fluid level</caption>
          <tr class="comp-tr" height="10px" >
            <th class="comp-td" >Component</th>
            <th class="comp-td">Level</th>
          </tr>
          <tr class="comp-tr" height="10px">
            <td class="comp-td">Oil Level</td>
            <td class="comp-td">{{selectedLoco.locoOil}}</td>
          </tr>
          <tr class="comp-tr" height="10px">
            <td class="comp-td">Fuel Level</td>
            <td class="comp-td">{{selectedLoco.locoFuel}}</td>
          </tr>
          <tr class="comp-tr" height="10px">
            <td class="comp-td">Oil Water</td>
            <td class="comp-td">{{selectedLoco.locoWater}}</td>
          </tr>
        </table>

        <table class="comp-tbl">
          <caption class="caption-txt">Breaks</caption>
          <tr class="comp-tr" height="10px">
            <th class="comp-td" height="10px">Component</th>
            <th class="comp-td">Status</th>
          </tr>
          <tr class="comp-tr" height="10px">
            <td class="comp-td">Vacuum Break</td>
            <td class="comp-td">{{selectedLoco.locoVBreak}}</td>
          </tr>
          <tr class="comp-tr"height="10px">
            <td class="comp-td">Dynami Breaks</td>
            <td class="comp-td">{{selectedLoco.locoDBreak}}</td>
          </tr>
        </table>
        <table class="comp-tbl">
          <caption class="caption-txt">Motors</caption>
          <tr class="comp-tr" height="10px">
            <th class="comp-td" height="10px">Component</th>
            <th class="comp-td">Status</th>
          </tr>
          <tr class="comp-tr" height="10px">
            <td class="comp-td">Main Generators</td>
            <td class="comp-td">{{selectedLoco.locoMainGen}}</td>
          </tr>
          <tr class="comp-tr"height="10px">
            <td class="comp-td">Traction Motors</td>
            <td class="comp-td">{{selectedLoco.locoTracMot}}</td>
          </tr>
        </table>
        <mat-form-field style="width: 450px; padding: 8px;">
          <mat-label>Special Notes</mat-label>
          <textarea matInput >{{selectedLoco.locoNote}}</textarea>
        </mat-form-field>

      </div>
    </div>
  </div>

  <div class="container-wrp-two" *ngIf="isVisibleSecond">
    <div class="header-two">
      <div class="box-container">
        <img src="https://img.icons8.com/bubbles/50/000000/train.png" style="width: 35px; height: 35px;"/> &nbsp;
        <span class="heading-update">UPDATE</span>
        <button style="left: 68%; color: white" mat-icon-button (click)="setStateTwo()"><span style="font-weight: bolder;" class="material-icons">clear</span></button>
      </div>
    </div>
    <div class="modal-body">
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs ">
        <mat-tab label="First">
            <mat-card style="height: 455px;">
              <br>
            <div class="controls-container" style="height: 420px; padding-left: 10%;">
              <mat-form-field>
                <input aria-label="HireDate" matInput [matDatepicker]="picker" placeholder="Update Date" [(ngModel)] = "changeLocoDate">
                <mat-datepicker-toggle matSuffix [for]="picker" style="width: 20%;"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field><div class="add-bottom-padding">
              <mat-radio-group aria-label="Availability" [(ngModel)]="changeLocoAvailability">
                <span class="para-txt">Availability</span>
                <mat-radio-button *ngFor="let status of statuses" [value] = "status">{{status}}</mat-radio-button>
              </mat-radio-group>
            </div>
              <h3 class="sub-headers">Motar Parts</h3>
              <div class="add-bottom-padding">
                <mat-radio-group aria-label="Gender" [(ngModel)]="changeLocoMainGen">
                  <span><p class="para-txt">Main Generators</p> </span>
                  <mat-radio-button  *ngFor="let mainMotor of mainMotors" [value] = "mainMotor">{{mainMotor}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="add-bottom-padding">
                <mat-radio-group aria-label="Gender" [(ngModel)]="changeLocotracMot">
                  <span> <p class="para-txt">Traction Motors</p></span>
                  <mat-radio-button *ngFor="let tMotor of tMotors" [value] = "tMotor">{{tMotor}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <h3 class="sub-headers">Special Notes</h3>
              <mat-form-field>
                <mat-label>Special Note</mat-label>
                <textarea matInput [(ngModel)]="changeLocoNote"></textarea>
              </mat-form-field>
            </div>
            </mat-card>
        </mat-tab>
        <mat-tab label="Second">
          <mat-card style="height: 455px;">
            <div class="controls-container" style="height: 420px; padding-left: 10%;">
              <h3 class="sub-headers">Liquid Levels</h3>
              <mat-form-field class="example-full-width">
                <mat-label class="label-txt">Oil Level(L)</mat-label>
                <input matInput placeholder="Oil Level" #searchInput [(ngModel)]="changeLocoOil">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label class="label-txt">Fuel Level(L)</mat-label>
                <input matInput placeholder="Fuel Level" #searchInput [(ngModel)]="changeLocoFuel">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label class="label-txt">Water Level(L)</mat-label>
                <input matInput placeholder="Water Level" #searchInput [(ngModel)]="changeLocoWater">
              </mat-form-field>
              <h3 class="sub-headers">Breaks</h3>
              <div class="add-bottom-padding">
                <mat-radio-group aria-label="Vacuum Breaks" [(ngModel)]="changeLocoVBreak">
                  <span> <p class="para-txt">Vacuum Breaks</p></span>
                  <mat-radio-button *ngFor="let vBreak of vBreaks" [value] = "vBreak">{{vBreak}}</mat-radio-button>
                </mat-radio-group>
                <mat-radio-group aria-label="Dynamic Breaks" [(ngModel)]="changeLocoDBreak">
                  <span> <p class="para-txt">Dynamic Breaks</p></span>
                  <mat-radio-button *ngFor="let dBreak of dBreaks" [value] = "dBreak">{{dBreak}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="btn-row">
                <button mat-raised-button color="primary" style="width: 100px;" (click)="updateMyLocomotive()">Update</button> &nbsp;
                <button class="cancel-btn" mat-raised-button color="accent" (click) = "setStateTwo()"  style="width: 100px;">Cancel</button>
              </div>
            </div>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <button style="display: none"  type="button" id="btn-pop-up"  mat-stroked-button color="accent" (click)="setState()">
  </button>
  <button style="display: none"  type="button" id="btn-pop-up-two"  mat-stroked-button color="accent" (click)=" setStateTwo()">
  </button>


</div>
