<app-common-header></app-common-header>
<main>
  <article class="main-container">
    <div class="login-wrapper">

      <!-- Contenido del lado izquierdo -->
      <section class="form-wrapper">



        <!-- Contenedor del formulario y sus mensajes -->
        <div class="form-container">

          <!-- Mensaje de login -->
          <div class="form-messages">
            <h2>FORGET PASSWORD</h2>
            <br>
            <hr class="separator">
            <p>Enter your email &Tap the button below to reset your User account password. <br>
            This will send password reset request ro Clerical officer. </p>
          </div>

          <br>
          <br>
          <form action="" [formGroup]="forgetPasswordGroup" (ngSubmit)="submitForm(forgetPasswordGroup)">
            <div class="form-group">
              <mat-form-field style="width: 18vw;">
                <mat-label >Input</mat-label>
                <input matInput ngcontent-c0=""  placeholder="email"
                       type="text" id="email" formControlName="email">

              </mat-form-field>
              <span *ngIf="!forgetPasswordGroup.get('email').valid && !IsvalidForm"
                    class="help-block">Please enter a valid email!</span>
            </div>
            <br>
            <div class="form-group">
              <div>
                <button type="submit" class="login-btn" mat-raised-button color="primary" >Reset
                 </button>
              </div>
            </div>
          </form>
          <p>Contact Clerical officer : 0768922413</p>


          <!-- Otras opciones de inicio login -->


        </div>

      </section>

      <!-- Contenido del lado derecho -->
      <section class="image-wrapper">

        <div class="image-message">

          <div class="image-hr-container">
            <hr class="image-hr">
          </div>

          <div class="image-text">

          </div>

        </div>

      </section>
    </div>
  </article>
</main>
